{% extends "home.html" %}
{% block content %}
<div id="addtable">
    <center>
        <div class="panel">
            <h2>Account List</h2>
        </div>
        <div>
            <table id="mytable">
                <tr>
                    <th>Account Id</th>
                    <th>Account Name</th>
                    <th>Client ID</th>
                    <th>Client Secret</th>
                    <th>Enviroment</th>
                </tr>
                {% for acc in accountlist.items %}
                <tr>
                   <td>{{acc.account_id}}</td>
                   <td>{{acc.account_name}}</td>
                   <td>{{acc.clientid}}</td>
                   <td>{{acc.clientsecret}}</td>
                   {% if acc.enviroment_id==1 %}
                   <td>QE</td>
                   {% elif acc.enviroment_id==2 %}
                   <td>STAGE1</td>
                   {% elif acc.enviroment_id==3 %}
                   <td>STAGE4</td>
                   {% elif acc.enviroment_id==4 %}
                   <td>STAGE</td>
                   {% elif acc.enviroment_id==5 %}
                   <td>AZ</td>
                   {% elif acc.enviroment_id==6 %}
                   <td>APAC</td>
                   {% elif acc.enviroment_id==7 %}
                   <td>PROD</td>
                   {% elif acc.enviroment_id==8 %}
                   <td>EU</td>
                   {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </center>
   </div>
   <div id="addtable">
       <center>
            <div id="envpanel">
                <a href="{{url_for('account.account_list',myenviroment=1)}}">QE</a>
            </div>
            <div id="envpanel">
                <a href="{{url_for('account.account_list',myenviroment=2)}}">STAGE1</a>
            </div>
            <div id="envpanel">
                <a href="{{url_for('account.account_list',myenviroment=3)}}">STAGE4</a>
            </div>
            <div id="envpanel">
                <a href="{{url_for('account.account_list',myenviroment=4)}}">STAGE</a>
            </div>
            <div id="envpanel">
                <a href="{{url_for('account.account_list',myenviroment=5)}}">PROD</a>
            </div>
            <div id="envpanel">
                <a href="{{url_for('account.account_list',myenviroment=6)}}">EU</a>
            </div>
            <div id="envpanel">
                <a href="{{url_for('account.account_list')}}">ALL</a>
            </div>
       </center>
   </div>
{% endblock %}