{% extends "home.html" %}
{% block content %}
<div id="addtable">
    <center>
        <div class="panel">
            <h2>Test List</h2>
        </div>
        <div>
            <table id="mytable">
                <tr>
                    <th>Testcase Id</th>
                    <th>Tag</th>
                    <th>Resource Path</th>
                    <th>HTTP Method</th>
                    <th>Role</th>
                    <th>Update</th>
                </tr>
                {% for test in testlist %}
                <tr>
                   <td>{{test.testcase_id}}</td>
                   <td>{{test.test_tags}}</td>
                   <td>{{test.resource_path}}</td>
                   <td>{{test.http_method}}</td>
                   <td>{{test.role}}</td>
                   <td><a href="{{url_for('testcase.edit_test',testid=test.testcase_id)}}">EDIT</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </center>
   </div>
{% endblock %}